@import url('./../materialize/css/material_icons.css');

nav { background-color: #fff; }
nav ul a { color: #333; padding: 0 25px; } 
nav ul li:not(.contactus).active, nav ul li:not(.contactus):hover { background-color: #ee6e73; }
nav ul li:not(.contactus).active a, nav ul li:not(.contactus):hover a { color: #fff; }
nav ul a:hover { background-color: transparent }
.btn {
    box-shadow: 0 7px 0 0 #a11517;
    background: #e5373a;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1rem;
    line-height: 1;
    min-height: 38px;
    padding: 1rem 2rem;
    height: auto;
    border-radius: 4px;
}
.btn.active, .btn:active, .btn:focus, .btn:hover {
    box-shadow: 0 8px 0 0 #a11517;
    background: #e5373a;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
nav ul li .btn {
    padding: .7rem 1.2rem;
    margin-top: -6px;
    line-height: 1.3;
}

.banner { background:  url('../img/banner_bg.jpg') no-repeat center top; background-size: cover; background-position: 50%; margin-top: -32px; height: calc(100vh - 32px); display: flex; align-items: center; }
.banner .head { border-bottom: 2px solid #fff; display: inline-block; font-size: 1.2rem; font-weight: bold; padding: 5px 10px; }
.banner .subhead { font-size: 75px;}
.banner .card { margin-top: -10%; }


.specializing { background: url('../img/work_bg.jpg') no-repeat top; background-size: cover; }
.specializing .card-title { font-weight: bold; }

/************Common Classes***********/
.modal-backdrop.fade { display: none; }
.modal-backdrop.fade.show, .modal.fade.show { display: block; }
.bg-purple { background: #230e2d !important; }
.bg-purple-light { background: #442e52 !important; }
.text-white { color: #fff !important; }
.pos-rel { position: relative; }
.btn-primary { box-shadow: 0 5px 0 0 #a11517; background: #e5373a; border: 0; text-transform: uppercase; color: #fff; letter-spacing: 0.1rem; line-height: 1.2; min-height: 38px; padding: 1rem 2rem; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active { box-shadow: 0 8px 0 0 #a11517; background: #e5373a; transform: translateY(-3px); }
.no-scale, .no-scale * { transform: none !important; }
.no-shadow, .no-shadow *, .no-boxshadow { box-shadow: none !important; }
.no-border { border: none !important; }
.fluid { width: 100% !important; }
.purplesqr { height: 70px; }
.purplesqr::after { bottom: 0; -webkit-transform: skewY(2deg); transform: skewY(2deg); -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-backface-visibility: hidden; background: inherit; content: ''; display: block; height: 100%; left: 0; outline: 1px solid transparent; position: absolute; right: 0; z-index: 1; background: #230e2d; }
a.card { display: block; color: #333; }
.a-hvr-undrl:hover, .a-hvr-undrl:focus { text-decoration: underline; }
p { line-height: 1.8; color: #444; }

